<template>
  <div>
    <!-- Bread crumb -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard</h3> </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Home > Dashboard</li>
        </ol>
      </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
      <!-- Start Page Content -->
      <div class="row">
        <div class="col-md-3">
          <div class="card p-4">
            <div class="media">
              <div class="media-left meida media-middle">
                <span>
                  <font-awesome-icon icon="chart-line" size="3x" class="color-primary" />
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2>4,8</h2>
                <p class="m-b-0">Nota média</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-4">
            <div class="media">
              <div class="media-left meida media-middle">
                <span>
                  <font-awesome-icon icon="clipboard-list" size="3x" class="color-success" />
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2>1178</h2>
                <p class="m-b-0">Avaliações</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-4">
            <div class="media">
              <div class="media-left meida media-middle">
                <span>
                  <font-awesome-icon icon="archive" size="3x" class="color-warning" />
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2>25</h2>
                <p class="m-b-0">Instituições</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card p-4">
            <div class="media">
              <div class="media-left meida media-middle">
                <span>
                  <font-awesome-icon icon="user" size="3x" class="color-danger" />
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2>847</h2>
                <p class="m-b-0">Usuários</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row bg-white ml-0 mr-0 box-shadow ">
          <!-- column -->
          <div class="col-lg-6">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Histórico da média de notas</h4>
                      <line-chart :data="histMdNotasChartData" :options="chartOptions"></line-chart>
                  </div>
              </div>
          </div>
          <!-- column -->

          <!-- column -->
          <div class="col-lg-6">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Ranking Instituições</h4>
                      <bar-chart :data="rankingISChartData" :options="chartOptions"></bar-chart>
                  </div>
              </div>
          </div>
          <!-- column -->
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-title">
                      <h4>Ranking de profissionais</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Nome</th>
                                      <th>Área</th>
                                      <th>Nota Média</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>
                                        <div class="round-img">
                                            <a href=""><img src="@/assets/images/avatar/1.jpg" alt=""></a>
                                        </div>
                                    </td>
                                    <td>Roberto Freitas</td>
                                    <td><span>Enfermaria</span></td>
                                    <td><span class="badge badge-success">4,5</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="round-img">
                                            <a href=""><img src="@/assets/images/avatar/2.jpg" alt=""></a>
                                        </div>
                                    </td>
                                    <td>Júlio César</td>
                                    <td><span>Clinica Médica</span></td>
                                    <td><span class="badge badge-success">4,2</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="round-img">
                                            <a href=""><img src="@/assets/images/avatar/4.jpg" alt=""></a>
                                        </div>
                                    </td>
                                    <td>Amanda Farias</td>
                                    <td><span>Odontologia</span></td>
                                    <td><span class="badge badge-warning">3,7</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="round-img">
                                            <a href=""><img src="@/assets/images/avatar/5.jpg" alt=""></a>
                                        </div>
                                    </td>
                                    <td>Danilo Azevedo</td>
                                    <td><span>Fisioterapia</span></td>
                                    <td><span class="badge badge-danger">2,9</span></td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/shared/Footer'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faArchive, faChartLine, faClipboardList, faUser } from '@fortawesome/free-solid-svg-icons'

import BarChart from '@/components/charts/Bar'
import LineChart from '@/components/charts/Line'

library.add(faArchive, faChartLine, faClipboardList, faUser)

export default {
  name: 'Dashboard',
  components: { Footer, BarChart, LineChart },
  data () {
    let histMdNotasChartData = {
      labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      datasets: [
        {
          label: 'Nota',
          backgroundColor: '#94ce96',
          data: [4.7, 4.3, 4, 4, 3.1, 2, 4, 3, 3.7, 4.5, 4.9, 4.9, 4.8, 4.7]
        }
      ]
    }

    let rankingISChartData = {
      labels: ['Nota média'],
      datasets: [
        {
          label: 'Hospital de Base',
          backgroundColor: '#94ce96',
          data: [4.7]
        },
        {
          label: 'HRAN',
          backgroundColor: '#dff2d8',
          data: [4.3]
        },
        {
          label: 'HRSAM',
          backgroundColor: '#c6dea6',
          data: [3.8]
        },
        {
          label: 'HRT',
          backgroundColor: '#7a6263',
          data: [3.5]
        },
        {
          label: 'UBS Asa Sul',
          backgroundColor: '#ced097',
          data: [3.2]
        }
      ]
    }

    let chartOptions = {
      maintainAspectRatio: false,
      scales: {
        yAxes: [
          {ticks: { beginAtZero: true }}
        ]
      }
    }

    return {
      histMdNotasChartData: histMdNotasChartData,
      rankingISChartData: rankingISChartData,
      chartOptions: chartOptions
    }
  }
}
</script>
