<template>
  <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title pb-4">
						Bem-vindo!
					</span>
					<div class="wrap-input100">
						<input class="input100" type="text" v-model="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100">
						<input class="input100" type="password" v-model="senha">
						<span class="focus-input100" data-placeholder="Senha"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="button" class="login100-form-btn" v-on:click="login()">
								Login
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import Auth from '@/services/Auth'

export default {
  name: 'Login',
  data () {
    return {
      email: '',
      senha: ''
    }
  },
  methods: {
    login () {
      //@TODO: Implementar autenticação via API
      Auth.login(this.email, this.senha)
          .then(loggedIn => {
            if (!loggedIn) {
              this.error = true
            } else {
              this.$router.replace(this.$route.query.redirect || '/')
            }
          })
    }
  }
}
</script>

<style scoped>
  @import '../assets/css/login.css';
</style>
