@media (max-width:1120px) {
    #form_container {
        width: 980px;
    }
}

@media (max-width:991px) {
    #form_container {
        width: 100%;
        height: 100%;
        margin-top: 0
    }

    #form_container .row {
        margin: 0
    }

    .left_form {
        text-align: left;
        padding: 30px;
        min-height: inherit;
    }

    .left_form img {
        /* float: left;
        margin-right: 30px; */
        float: none;
        margin-right: 0;
        width: 100px;
        height: auto
    }

    .pt-perspective {
        padding-bottom: 20px;
    }

    body {
        overflow: hidden;
    }

    #pt-main {
        padding-bottom: 0px;
    }

    .content {
        padding: 25px 0 0 !important;
    }

    .content .col-xs-12:nth-child(2) {
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .pt-page {
        overflow-y: scroll;
    }

    .pt-page > .row:first-child > .col-md-4:first-child {
        padding-left: 0;
        padding-right: 0;
    }

    h1.main_title,
    h2.main_title {
        font-size: 32px
    }
    h1.main_title span,
    h2.main_title span {
        font-size: 18px
    }
}

@media (max-width:991px) {
    .niveis-satisfacao { height: 95px; }
}

@media (max-width:800px) {
    .niveis-satisfacao { height: 80px; }
}

@media (max-width:768px) {
    .niveis-satisfacao { height: 90px; }

    .text-center > .col-xs-2 {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:600px) {
    .niveis-satisfacao { height: 65px; }
}

@media (max-width:550px) {
    .niveis-satisfacao { height: 60px; }
}

@media (max-width:420px) {
    .niveis-satisfacao { height: 45px; }
}

@media (max-width:350px) {
    .niveis-satisfacao { height: 35px; }
}