<template>
  <div>
    <!-- Bread crumb -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Perguntas</h3> </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Home > Perguntas</li>
        </ol>
      </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-primary float-right mb-3" @click="showModal">Nova pergunta</button>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Pergunta</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <draggable v-model="perguntas" :element="'tbody'" @end="onEnd">
                                <tr v-for="pergunta in perguntas" :key="pergunta.id">
                                    <td scope="row">{{ pergunta.ordem }}</td>
                                    <td>{{ pergunta.pergunta }}</td>
                                    <td>
                                      <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-sm btn-primary" @click="showModal(pergunta.id, 'editar')"><font-awesome-icon icon="pen"></font-awesome-icon></button>
                                        <button class="btn btn-sm btn-danger" @click="showModal(pergunta.id, 'excluir')"><font-awesome-icon icon="times"></font-awesome-icon></button>
                                      </div>
                                      
                                    </td>
                                </tr>
                            </draggable>
                        </table>
                </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->

    <b-modal ref="novaPergunta" title="Nova pergunta" @ok="salvarPergunta">
      <div class="form-group">
        <label for="novaPergunta">Digite a pergunta:</label>
        <input type="text" class="form-control" id="novaPergunta" v-model="novaPergunta">
      </div>
    </b-modal>

    <b-modal ref="editarPergunta" title="Editar pergunta" @ok="editarPergunta">
      <div class="form-group">
        <label for="pergunta">Digite a pergunta:</label>
        <input type="text" class="form-control" id="pergunta" v-model="perguntaSelecionada.pergunta">
      </div>
    </b-modal>

    <b-modal ref="excluirPergunta" title="Atenção!!" @ok="excluirPergunta">
      <div class="form-group">
        <p>Confirma a exclusão da pergunta?</p>
      </div>
    </b-modal>
    
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/shared/Footer'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faPen, faTimes } from '@fortawesome/free-solid-svg-icons'
library.add(faPen, faTimes)

import draggable from 'vuedraggable'

import PerguntasService from '@/services/Perguntas';

export default {
  name: 'PerguntasList',
  components: { Footer, draggable },

  data() {
    return {
      novaPergunta: '',
      perguntaSelecionada: {},
      perguntas: []
    }
  },

  methods: {
    showModal (perguntaId, tipo) {
      switch (tipo) {
        case 'editar':
          this.perguntaSelecionada = Object.assign({}, this.perguntas.find(pergunta => pergunta.id == perguntaId));
          this.$refs.editarPergunta.show();
          break;
        case 'excluir':
          this.perguntaSelecionada = Object.assign({}, this.perguntas.find(pergunta => pergunta.id == perguntaId));
          this.$refs.excluirPergunta.show();
          break;
        default:
          this.$refs.novaPergunta.show();
      }
    },

    getPerguntas() {
      // Busca as perguntas na API
      return PerguntasService.get()
                             .then(perguntas => {
                               this.perguntas = perguntas;
                             });
    },

    salvarPergunta(e) {
      e.preventDefault();

      let novaPergunta = {
        pergunta: this.novaPergunta,
        ordem: this.perguntas.length + 1
      }

      PerguntasService.salvar(novaPergunta)
                      .then(async() => {
                        this.getPerguntas().then(() => {
                          this.$refs.novaPergunta.hide();
                        });
                      })
                      .catch(() => {
                        alert('Não foi possível salvar a pergunta. Por favor, tente novamente.');
                      });
    },

    editarPergunta(e) {
      e.preventDefault();

      PerguntasService.editar(this.perguntaSelecionada)
                      .then(() => {
                        this.getPerguntas().then(() => {
                          this.$refs.editarPergunta.hide();
                        });
                      })
                      .catch(() => {
                        alert('Não foi possível alterar a pergunta. Por favor, tente novamente.');
                      });
    },

    excluirPergunta(e) {
      e.preventDefault();

      PerguntasService.excluir(this.perguntaSelecionada)
                      .then(() => {
                        this.getPerguntas().then(() => {
                          this.$refs.excluirPergunta.hide();
                        });
                      })
                      .catch(() => {
                        alert('Não foi possível excluir a pergunta. Por favor, tente novamente.');
                      });
    },

    onEnd() {
      let novaOrdemPerguntas = [];
      this.perguntas.forEach((pergunta, index) => {
        let novaPergunta = Object.assign({}, pergunta, {ordem: index + 1});

        novaOrdemPerguntas.push(novaPergunta);
      });

      PerguntasService.atualizarOrdem(novaOrdemPerguntas);

      this.perguntas = novaOrdemPerguntas;
    }
  },

  async mounted() {
    await this.getPerguntas();
  }
}
</script>

<style>
  table tbody tr { cursor: move; }
  table tbody tr:hover { background-color: #eee }
</style>

