<template>
  <div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <Header />
        <!-- End header header -->

        <!-- Left Sidebar  -->
        <Sidebar />
        <!-- End Left Sidebar  -->

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <router-view/>
        </div>
        <!-- End Page wrapper  -->
    </div>
  </div>
</template>

<script>
import Header from '@/components/shared/Header'
import Sidebar from '@/components/shared/Sidebar'

export default {
  name: 'DefaultLayout',
  components: {
    Header, Sidebar
  }
}
</script>
