<template>
  <div class="header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Quality Saúde</a>
        </div>
        <!-- End Logo -->
        <div class="navbar-collapse justify-content-end">
            <!-- User profile and search -->
            <ul class="navbar-nav my-lg-0">
                <!-- Search -->
                <li class="nav-item hidden-sm-down search-box">
                    <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search here">
                        <a class="srh-btn"><i class="ti-close"></i></a>
                    </form>
                </li>
                <!-- Profile -->
                <li class="nav-item dropdown" ref="dropdownMenu">
                    <a class="nav-link dropdown-toggle text-muted" v-on:click="toggleUserMenu()">
                        <img src="@/assets/images/users/5.jpg" alt="user" class="profile-pic" />
                    </a>
                    <div id="user-menu" class="dropdown-menu dropdown-menu-right p-0">
                        <ul class="dropdown-user">
                            <li v-on:click="logout()">
                                <a href="#">
                                  <font-awesome-icon icon="power-off" /> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faPowerOff } from '@fortawesome/free-solid-svg-icons'
import Auth from '@/services/Auth'

library.add(faPowerOff)

export default {
  name: 'Header',
  methods: {
      toggleUserMenu(e) {
        if (!e) return;

        let el = this.$refs.dropdownMenu,
            target = e.target,
            userMenu = document.getElementById('user-menu')
        if (el !== target && !el.contains(target)) {
          userMenu.classList.remove('show')
        } else {
          userMenu.classList.toggle('show')
        }
      },

      logout() {
          Auth.logout();
          this.$router.replace('/login');
      }
  },
  created () {
    document.addEventListener('click', this.toggleUserMenu)
  },
  destroyed () {
    // important to clean up!!
    document.removeEventListener('click', this.toggleUserMenu)
  }
}
</script>

<style>
  .dropdown-toggle {
      cursor: pointer;
  }
</style>

