<template>
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-label">Menu</li>
                    <li>
                        <router-link to="/">
                            <i class="fa fa-tachometer"></i>
                            <span class="hide-menu">Dashboard</span>
                        </router-link>
                        <!-- <a class="has-arrow" href="#" aria-expanded="false">
                            <i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Ecommerce </a></li>
                            <li><a href="index1.html">Analytics </a></li>
                        </ul> -->
                    </li>
                    <li>
                        <router-link to="/perguntas">
                            <i class="fa fa-tachometer"></i>
                            <span class="hide-menu">Perguntas</span>
                        </router-link>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>
